
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
*{
    font-family: 'Syne Mono', monospace;
}

.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width: 100vh;
    z-index: 1;
}

@media(max-width:768px){
    .particle-onscreen{
        display: none;
        
    }
}